In [14]:
#1
str=' StRInG MeThOdS '
print(str)
#string methods
print(str.upper())
print(str.lower())
print(str.swapcase())
print(str.title())
print(str.capitalize())
print(str.strip())
print(str.lstrip())
print(str.rstrip())

 StRInG MeThOdS
 STRING METHODS
 string methods
 sTriNg mEtHoDs
 String Methods
 string methods
StRInG MeThOdS
StRInG MeThOdS
 StRInG MeThOdS

In [15]:
#2
lis=[1,2,3]
print(lis)

lis.append(4)
print(lis)

lis.extend([5,6,7])
print(lis)

lis.insert(7,9)
print(lis)

del lis[4]
print(lis)

del lis[0:2]
print(lis)

lis.remove(3)
print(lis)

lis.pop(2)
print(lis)

lis.clear()
print(lis)

[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7, 9]
[1, 2, 3, 4, 6, 7, 9]
[3, 4, 6, 7, 9]
[4, 6, 7, 9]
[4, 6, 9]
[]

In [16]:
#3
mytup=(1,2,3,4,5)
print(mytup)
print(mytup.count(1))
print(mytup.index(2))
print(min(mytup))
print(max(mytup))
print(len(mytup))

(1, 2, 3, 4, 5)
1
1
1
5
5

In [17]:
#4
myset={1,3,5}
print(myset)
myset.add(2)
print(myset)

myset.update([2,3,4])
print(myset)

myset.discard(3)
print(myset)

myset.remove(4)
print(myset)

{1, 3, 5}
{1, 2, 3, 5}
{1, 2, 3, 4, 5}
{1, 2, 4, 5}
{1, 2, 5}

In [18]:
#5
mydict={'name':'akhi','phno':59656262626,'address':'kmr'}
print(mydict['name'])
print(mydict.keys())
print(mydict.values())

akhi
dict_keys(['name', 'phno', 'address'])
dict_values(['akhi', 59656262626, 'kmr'])

In [19]:
#6
dec=34
print(bin(dec))
print(oct(dec))
print(hex(dec))

0b100010
0o42
0x22

In [20]:
#7
a=10
b=5

print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)
print(a**b)

15
5
50
2.0
2
0
100000

In [21]:
#8
a=10
b=5
c=a+b
print(c)
c+=a
print(c)
c-=a
print(c)
c*=a
print(c)
c/=a
print(c)
c%=a
print(c)
c**=a
print(c)

15
25
15
150
15.0
5.0
9765625.0

In [22]:
#9
a=10
b=5

if a==b:
    print('a and b are equal')
if a!=b:
     print('a and b not equal')
if a>b:
     print('a is greater b')
if a<b:
     print('a is lessthan b')
if a>=b:
    print('a is greaterthan or equal b')
if a<=b:
    print('a is lessthan or equal b')

a and b not equal
a is greater b
a is greaterthan or equal b

In [23]:
#10
x=1
y=0
b=True
a=False
print("x and y is",x and y)
print("x or y is",x or y)
print("x  not is", not x)

x and y is 0
x or y is 1
x  not is False

In [24]:
#11
a=8
b=12
print(a&b)
print(a^b)
print(a|b)
print(~a)
print(a>>2)
print(a<<4)

8
4
12
-9
2
128

In [25]:
#12
x="akhila"
y={1:'m',2:'n'}
print('H' in x)
print(1 in y)
print('m'in y)

False
True
False

In [26]:
#13
x1=10
y1=110
x2="Hello"
y2="hello"
x3=[1,2,3]
y3=[1,2]
print(x1 is y1)
print(x2 is not y2)
print(x3 is not y3)

False
True
True

In [27]:
#14
l=[1,2,3,4,5,6,7]
print(l[-3:-1])

[5, 6]

In [28]:
#15
print('A series of characters designated as one object known as string ' [::-1][4::3])
print('_________')
print('welcome to the python training program'[3:10][::-1])

r  o eonsdaidrca  is
_________
ot emoc

In [29]:
#16
p_phrase="was it a car or a cat I saw"
print(p_phrase.upper())

WAS IT A CAR OR A CAT I SAW

In [31]:
#17

a='ZOO'
i=0
Z=a.count('Z')
O=a.count('O')
x=int(input())
y=x*2
for i in range(x):
    i=i+1
    print('Z',end='')
for i in range(y):
    i=i+1
    print('O',end='')

3
ZZZOOOOOO